/*color root*/
:root{
    --background-color: #1B2452;
    --primary-color: #6C5B9E;
    --secondary-color: #9B59B6;
    --accent-color: #1ABC9C;
    --off-white: #F2F2F2;
    --off-black: #1C1C1C;
}

/*global styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: var(--background-color);
    color: var(--off-white);
    line-height: 1.6;
}
a{
    text-decoration: none;
    color: var(--off-white);
}
ul{
    list-style: none;
}
h1{
    width: auto;
    font-size: 64px;
    font-weight: 400px;
    font-style: bold;
    text-indent: 5px;
    letter-spacing: 7px;
    color: var(--secondary-color);
    font-family: bowlby one, regular;
    text-shadow: 3px 2px rgba(255, 255, 255, 0.2);
}
strong{
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 28px;
}

/*cta button styles*/
.cta-button{
    background-color: var(--secondary-color);
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    color: var(--off-black);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.7s ease;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.4);
    margin-top: -10px;
}
    .cta-button:hover{
        background-color: var(--accent-color);
    }

/*header styles*/
header{
    background-color: var(--primary-color);
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-bottom: 3.5px solid var(--off-black);
    border-radius: 0 0 10px 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 10vh;
    justify-content: center;
    align-items: center;
}
    .nav{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 1000;
    }
    header.scrolled {
        background-color: rgba(108, 91, 158, 0.9);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        border-radius: 0 0 20px 20px;
        border-bottom: 2px solid var(--off-black);
        margin-top: 10px;
    }
        .nav-menu ul{
            display: flex;
            justify-content: center;
            gap: 50px;
        }
            .links p{
                font-size: 16px;
                font-weight: normal;
                transition: color 0.3s ease;
                color: var(--off-white);
            }
            .links p:hover{
                color: var(--accent-color);
                text-shadow: 3px 2px rgba(0,0,0,0.3);
            }
        .contact-btn{
            background-color: var(--secondary-color);
            padding: 10px 20px;
            border: 1.5px solid var(--off-white);
            border-radius: 30px;
            font-weight: bold;
            color: var(--off-black);
            border-color: var(--off-black);
            font-size: 14px;
            transition: background-color 0.7s ease;
            box-shadow: 3px 2px rgba(255, 255, 255, 0.2);
        }
        .contact-btn a{
            color: var(--background-color);
        }
            .contact-btn:hover{
                background-color: var(--accent-color);
            }

/*Form styles*/
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0 0 0;
        text-align: center;
    }
        .myform{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
            .checkbox-group{
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: center;
                width: 800px;
                gap: 50px;
                margin: 80px 0 50px 200px;
            }
                label{
                    display: flex;
                    width: 150px;
                    gap: 10px;
                }
                h3{
                    font-size: 20px;
                }