/*color root*/
:root{
    --background-color: #1B2452;
    --primary-color: #6C5B9E;
    --secondary-color: #9B59B6;
    --accent-color: #1ABC9C;
    --off-white: #F2F2F2;
    --off-black: #1C1C1C;
}

/*fonturi*/
.inika-regular {
  font-family: "Inika", serif;
  font-weight: 400;
  font-style: normal;
}

.inika-bold {
  font-family: "Inika", serif;
  font-weight: 700;
  font-style: normal;
}


/*global styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: var(--background-color);
    color: var(--off-white);
    line-height: 1.6;
}
a{
    text-decoration: none;
    transition: color 0.3s ease;
}
h4{
    color: var(--background-color);
}
ul{
    list-style: none;
}
strong{
    font-size: bold;
    color: var(--accent-color);
}

/*cta button styles*/
.cta-button{
    background-color: var(--accent-color);
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    color: var(--off-black);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
    margin-top: 20px;
    display: flex;
    gap: 10px;
}


/*header styles*/
header{
    background-color: var(--primary-color);
    padding:0 0 20px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-bottom: 3.5px solid var(--off-black);
    border-radius: 0 0 10px 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 10vh;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
}
    .nav{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 1000;
    }
    header.scrolled {
        background-color: rgba(108, 91, 158, 0.9);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        border-radius: 0 0 20px 20px;
        border-bottom: 2px solid var(--off-black);
        margin-top: 10px;
    }
        .nav-menu ul{
            display: flex;
            justify-content: center;
            gap: 50px;
        }
            .logo-img{
                width: 80px;
                height: auto;
            }
            .links p{
                font-size: 16px;
                font-weight: normal;
                transition: color 0.3s ease;
                color: var(--off-white);
            }
            .links p:hover{
                color: var(--accent-color);
                text-shadow: 3px 2px rgba(0,0,0,0.3);
            }
        .contact-btn{
            background-color: var(--secondary-color);
            padding: 10px 20px;
            border: 1.5px solid var(--off-white);
            border-radius: 30px;
            font-weight: bold;
            color: var(--off-white);
            border-color: var(--off-black);
            font-size: 14px;
            transition: background-color 0.7s ease;
            box-shadow: 2px 4px rgba(0,0,0,0.1);
            cursor: pointer;
            display: flex;
            gap: 10px;
        }
        .contact-btn a{
            color: var(--background-color);
        }
            .contact-btn:hover{
                background-color: var(--accent-color);
                
            }
/*hero section styles*/
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20vh;
}
    .hero-content{
        max-width: 800px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .hero h1{
        width: auto;
        font-size: 64px;
        font-weight: 400px;
        font-style: bold;
        text-indent: 5px;
        letter-spacing: 7px;
        color: var(--secondary-color);
        font-family: bowlby one, regular;
        text-shadow: 3px 2px rgba(255, 255, 255, 0.2);
    }
/*articol*/
.articol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .articol-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60vw;
        gap: 20px;
    }
        .articol-content h2{
            font-size: 28px;
            color: var(--secondary-color);
        }
        .articol-content h3{
            font-size: 16px;
            text-indent: 2rem;
        }