/*color root*/
:root{
    --background-color: #1B2452;
    --primary-color: #6C5B9E;
    --secondary-color: #9B59B6;
    --accent-color: #1ABC9C;
    --off-white: #F2F2F2;
    --off-black: #1C1C1C;
}

/*fonturi*/
.inika-regular {
  font-family: "Inika", serif;
  font-weight: 400;
  font-style: normal;
}

.inika-bold {
  font-family: "Inika", serif;
  font-weight: 700;
  font-style: normal;
}


/*global styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: var(--background-color);
    color: var(--off-white);
    line-height: 1.6;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/*cta button styles*/
.cta-button{
    background-color: var(--accent-color);
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    color: var(--off-black);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
    margin-top: 20px;
}


/*header styles*/
header{
    background-color: var(--primary-color);
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-bottom: 3.5px solid var(--off-black);
    border-radius: 0 0 10px 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
    .nav{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 1000;
    }
        .nav-menu ul{
            display: flex;
            justify-content: center;
            gap: 50px;
        }
            .links p{
                font-size: 16px;
                font-weight: normal;
                transition: color 0.3s ease;
                color: var(--off-white);
            }
            .links p:hover{
                color: var(--accent-color);
                text-shadow: 3px 2px rgba(0,0,0,0.3);
            }
        .contact-btn{
            background-color: var(--accent-color);
            padding: 10px 20px;
            border: 1.5px solid var(--off-black);
            border-radius: 30px;
            font-weight: bold;
            font-size: 14px;
            transition: background-color 0.7s ease;
            box-shadow: 2px 4px rgba(0,0,0,0.1);
        }
        .contact-btn a{
            color: var(--background-color);
        }
            .contact-btn:hover{
                background-color: var(--background-color);
                color: var(--off-white);
                
            }
            .contact-btn:hover a {
                color: var(--primary-color);
            }

/*hero section styles*/
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 82.5vh;
    padding: 50px 0 0 0 ;
}
    .hero-content{
        max-width: 800px;
        gap: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .hero h1{
        width: auto;
        font-size: 64px;
        font-weight: 400px;
        font-style: bold;
        text-indent: 5px;
        letter-spacing: 7px;
        color: var(--secondary-color);
        font-family: bowlby one, regular;
        text-shadow: 3px 2px rgba(255, 255, 255, 0.2);
    }
    .hero p{
        font-size: 26px;
        font-weight: 200px;
        font-style: italic;
        text-indent: 5px;
        letter-spacing: 5px;
        width: auto;
        color: var(--primary-color);
        font-family: cursive;
        text-shadow: 3px 2px rgba(255, 255, 255, 0.1);
    }
    .hero-btn{
        background-color: var(--secondary-color);
        padding: 15px 30px;
        border: none;
        border-radius: 30px;
        color: var(--off-white);
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.7s ease;
        box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
    }
    .hero-btn a{
        color: var(--background-color);
    }
        .hero-btn:hover{
            background-color: var(--accent-color);
        }

/*parteneri section styles*/
.parteneri-section{
    width: auto;
    background-color: var(--primary-color);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
    .parteneri{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
        max-width: 60vw;
        overflow: hidden;
        -webkit-mask: linear-gradient(90deg,transparent,white 20%,white 80%,transparent);
    }
        .parteneri-slider {
            display: flex;
            animation: scroll-left 480s linear infinite;
            padding-block: 1rem;
            gap: 60px;
            width: max-content;
        }

            .partener {
                flex: 0 0 auto;
                width: 180px;
                height: 90px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

                .partener img {
                    max-width: 100%;
                    max-height: 100%;
                    object-fit: contain;
                }

/* Anima»õia pentru scroll infinit */
@keyframes scroll-left {
    to {
        transform: translateX(-50%);
    }
}

/*Proiect*/      
.about{
    background-color: var(--primary-color);
    padding: 50px 20px;
    margin-top: 50px;
    border: 2px solid var(--off-black);
    border-radius: 10px;
}
    .about h2{
        text-align: center;
        margin-bottom: 20px;
    }
    .about p{
        max-width: 800px;
        margin: 0 auto;
        font-size: 16px;
        line-height: 1.8;
    }

/*form*/
.form{
    background-color: var(--primary-color);
    padding: 50px 20px;
    margin-top: 50px;
    border: 2px solid var(--off-black);
    border-radius: 10px;
}
    .form h2{
        text-align: center;
        margin-bottom: 20px;
    }
    .form p{
        max-width: 800px;
        margin: 0 auto 30px auto;
        font-size: 16px;
        line-height: 1.8;
    }

/*echipa*/
.echipa-content{
    background-color: var(--primary-color);
    padding: 50px 20px;
    margin-top: 50px;
    border: 2px solid var(--off-black);
    border-radius: 10px;
}
    .echipa h2{
        text-align: center;
        margin-bottom: 20px;
    }
    .echipa p{
        max-width: 800px;
        margin: 0 auto;
        font-size: 16px;
        line-height: 1.8;
    }

/*footer styles*/
.contact{
    background-color: var(--primary-color);
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
    border: 2px solid var(--off-black);
    border-radius: 10px 10px 0 0;
}
    .contact p{
        font-size: 14px;
    }


/*responsive styles*/
@media (max-width: 768px){
    .hero h1{
        font-size: 36px;
    }
    .hero p{
        font-size: 16px;
    }
    .nav-menu ul{
        flex-direction: column;
        gap: 15px;
    }
    .parteneri-content{
        flex-direction: column;
        gap: 20px;
    }
}
