/*color root*/
:root{
    --background-color: #1B2452;
    --primary-color: #6C5B9E;
    --secondary-color: #9B59B6;
    --accent-color: #1ABC9C;
    --off-white: #F2F2F2;
    --off-black: #1C1C1C;
}

/*fonturi*/
.inika-regular {
  font-family: "Inika", serif;
  font-weight: 400;
  font-style: normal;
}

.inika-bold {
  font-family: "Inika", serif;
  font-weight: 700;
  font-style: normal;
}


/*global styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: var(--background-color);
    color: var(--off-white);
    line-height: 1.6;
}
a{
    text-decoration: none;
    transition: color 0.3s ease;
}
h4{
    color: var(--background-color);
}
ul{
    list-style: none;
}
/*cta button styles*/
.cta-button{
    background-color: var(--accent-color);
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    color: var(--off-black);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
    margin-top: 20px;
    display: flex;
    gap: 10px;
}


/*header styles*/
header{
    background-color: var(--primary-color);
    padding:0 0 20px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-bottom: 3.5px solid var(--off-black);
    border-radius: 0 0 10px 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 10vh;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
}
    .nav{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 1000;
    }
    header.scrolled {
        background-color: rgba(108, 91, 158, 0.9);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        border-radius: 0 0 20px 20px;
        border-bottom: 2px solid var(--off-black);
        margin-top: 10px;
    }
        .nav-menu ul{
            display: flex;
            justify-content: center;
            gap: 50px;
        }
            .logo-img{
                width: 80px;
                height: auto;
            }
            .links p{
                font-size: 16px;
                font-weight: normal;
                transition: color 0.3s ease;
                color: var(--off-white);
            }
            .links p:hover{
                color: var(--accent-color);
                text-shadow: 3px 2px rgba(0,0,0,0.3);
            }
        .contact-btn{
            background-color: var(--secondary-color);
            padding: 10px 20px;
            border: 1.5px solid var(--off-white);
            border-radius: 30px;
            font-weight: bold;
            color: var(--off-white);
            border-color: var(--off-black);
            font-size: 14px;
            transition: background-color 0.7s ease;
            box-shadow: 2px 4px rgba(0,0,0,0.1);
            cursor: pointer;
            display: flex;
            gap: 10px;
        }
        .contact-btn a{
            color: var(--background-color);
        }
            .contact-btn:hover{
                background-color: var(--accent-color);
                
            }

/*hero section styles*/
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
}
    .hero-content{
        max-width: 800px;
        gap: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .hero h1{
        width: auto;
        font-size: 64px;
        font-weight: 400px;
        font-style: bold;
        text-indent: 5px;
        letter-spacing: 7px;
        color: var(--secondary-color);
        font-family: bowlby one, regular;
        text-shadow: 3px 2px rgba(255, 255, 255, 0.2);
    }
    .hero p{
        font-size: 26px;
        font-weight: 200px;
        font-style: italic;
        text-indent: 5px;
        letter-spacing: 5px;
        width: auto;
        color: var(--primary-color);
        font-family: cursive;
        text-shadow: 3px 2px rgba(255, 255, 255, 0.1);
    }
    .hero-btn{
        background-color: var(--secondary-color);
        padding: 15px 30px;
        border: none;
        border-radius: 30px;
        color: var(--off-white);
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.7s ease;
        box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
    }
    .hero-btn a{
        color: var(--background-color);
    }
        .hero-btn:hover{
            background-color: var(--accent-color);
        }

/*parteneri section styles*/
.parteneri-section{
    width: auto;
    background-color: var(--primary-color);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 2px solid var(--off-black);
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
    height: 20vh;
}
    .parteneri{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
        max-width: 60vw;
        overflow: hidden;
        mask: linear-gradient(90deg,transparent,white 20%,white 80%,transparent);
    }
        .parteneri-slider {
            display: flex;
            animation: scroll-left 480s linear infinite;
            padding-block: 1rem;
            gap: 60px;
            width: max-content;
        }

            .partener {
                flex: 0 0 auto;
                width: 180px;
                height: 90px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

                .partener img {
                    max-width: 100%;
                    max-height: 100%;
                    object-fit: contain;
                }

                    /* Anima»õia pentru scroll infinit */
                    @keyframes scroll-left {
                        to {
                            transform: translateX(-50%);
                        }
                    }

/*About*/      
.about{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .about-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        gap: 17vh;
    }
    .about h2{
        text-align: center;
        width: auto;
        font-size: 64px;
        font-weight: 400px;
        font-style: bold;
        text-indent: 5px;
        letter-spacing: 7px;
        color: var(--secondary-color);
        font-family: bowlby one, regular;
        text-shadow: 3px 2px rgba(255, 255, 255, 0.2);
    }
        .detalii{
            display: flex;
            align-items: space-between;
            gap: 100px;
        }
            .detaliu {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 250px;
                background-color: var(--primary-color);
                border-radius: 25px;
                border: 2px solid var(--off-black);
                box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
                overflow: hidden;
                transition: all 0.4s ease;
                padding: 15px 0;
                cursor: pointer;
            }

                .detaliu h3 {
                    margin: 0;
                    font-size: 20px;
                    color: white;
                }

                .detaliu h4 {
                    opacity: 0;
                    max-height: 0;
                    transition: all 0.4s ease;
                    color: white;
                    margin: 0;
                    width: 200px;
                }

            .detaliu:hover {
                background-color: var(--secondary-color);
                transform: translateY(-5px);
                box-shadow: 0 6px 12px rgba(0,0,0,0.3);
            }

                .detaliu:hover h4 {
                    opacity: 1;
                    max-height: 50px;
                    margin-top: 8px;
                }

/*form*/
.form{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border: 2px solid var(--off-black);
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
    border-radius: 30px;
}
    .form-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        .form h2{
            text-align: center;
            margin-bottom: 20px;
            width: auto;
            font-size: 32px;
            font-weight: 200px;
            letter-spacing: 4px;
            font-style: normal;
            color: var(--background-color);
            font-family: bowlby one, regular;
            text-shadow: 3px 2px rgba(255, 255, 255, 0.2);
        }
        .form h4{
            width: 40vw;
            text-align: center;
            font-size: 16px;
            font-weight: 200px;
        }
        .form p{
            max-width: 800px;
            margin: 0 auto 30px auto;
            font-size: 16px;
            line-height: 1.8;
        }
        .form-btn{
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        }

/*echipa*/
.echipa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .echipa-content{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70vh;
        width: 90vw;
    }
        .echipa h2{
            text-align: center;
            margin-bottom: 20px;
        }
        .echipa p{
            max-width: 800px;
            margin: 0 auto;
            font-size: 16px;
            line-height: 1.8;
        }
        .echipa-content .subtitle {
        font-size: 2rem;
        color: var(--accent-color);
        margin-bottom: 20px;
        }
            .mentori{
                margin-bottom: 20px;
            }
            .membri {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;
            height: auto;
            }
                .membru {
                background: linear-gradient(145deg, var(--primary-color), var(--secondary-color));
                border: 2px solid var(--accent-color);
                border-radius: 20px;
                padding: 15px 0 0 15px;
                min-width: 180px;
                width: 250px;
                height: 120px;
                box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
                transition: transform 0.3s ease, box-shadow 0.3s ease;
                cursor: default;
                display: flex;
                gap: 10px;
                }
                    .membru h4 {
                    font-size: 16px;
                    margin: 0;
                    font-weight: bold;
                    color: var(--off-white);
                    }
                    .membru h5 {
                    font-size: 14px;
                    margin: 0;
                    font-weight: 300;
                    color: var(--background-color);
                    }
                    .membru img{
                        width: 70px;
                        height: 70px;
                        border-radius: 10px;
                    }
                .membru:hover {
                transform: translateY(-8px) scale(1.05);
                box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
                border-color: var(--off-white);
                }
                .info-membru{
                    display: flex;
                    flex-direction: column;
                }

/*footer styles*/
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border-top: 3px solid var(--off-black);
    border-radius: 30px 30px 0 0;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
    margin-top: 100px;
    padding: 20px 0;
    height: 25vh;
}
    .footer h3{
        font-size: 15px;
        margin-top: 20px
    }
    .footer-content{
        display: flex;
        align-items: flex-start;
        gap: 300px;
        margin-top: 20px;
    }
    .media-list{
        width: 300px;
        display: flex;
        gap: 30px;
    }
    .media{
        width: 30px;
        height: auto;
        margin: 0;
        padding: 0;
    }
    .mail{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .img-footer{
        margin-top: 30px;
    }
    .topup{
        display: flex;
        gap: 70vw;
        margin: 0 0 40px 0;
    }
        .topup-btn{
            background-color: var(--secondary-color);
            color: var(--background-color);
            padding: 10px 20px;
            border: 1px solid var(--off-black);
            border-radius: 30px;
            color: var(--off-black);
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s ease;
            box-shadow: 2px 4px rgba(0,0,0,0.1);
        }
            .topup-btn:hover{
                background-color: var(--accent-color);
            }
.copyright{
    color: #b6b6b6;
    font-size: 12px;
}